.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: aliceblue;
   align-items: center;
   justify-content: center;
}

img{
    float: left;
    width: 90px;
    height: 90px;
}


.contenedor-toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
}



