.grid-wrapper{
    height: 100vh;
    background-color: white;
    position: relative;
}

body{
    margin: 0;
}
.sidenav-container{
height: 100vh;
background-color: rgba(255, 255, 0, 0.781);
width: 200px;
position: absolute;
top: 90px;
left: 0%;
}

.page-wraper{
   padding-left: 200px; 
}

.toolbar-container{
    height: 90px;
    background-color:black;
    border-left: 20px
}